<head>
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>

<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">Granite State Clean Out Services</h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <h2>Who We Are</h2>
            <p>Granite State Clean Out Services is a fully insured, locally owned and operated company. Located in central New Hampshire, we have serviced the greater Lakes Region Area for the past 5+ years. Please contact us with any questions on inquiries. Quotes are free and we would love to hear from you.</p>
            <p></p>
        </div>
        <div class="col-sm-4">
            <h2>Contact Us</h2>
            <address>
                <strong>GSCOS</strong>
                <br>New Durham, NH 03855
                <br>
                (603) 393-6342
                <br>
                <br>
                <p>
                    <a class="btn btn-primary btn-lg" href="mailto:granitestatecleanout@gmail.com">Email Us &raquo;</a>
                </p>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Winterization</h2>
            <p>Fully equipped to provide winterization services for all types of properties. This includes septic preparation, securing vacant buildings and snow removal.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Clean Out Services</h2>
            <p>Services include waste removal, lock changes, property security. Specializing in foreclosures and abandoned properties.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
            <h2>Lawn Maintence</h2>
            <p>We can keep your property clean and maintained. Skills offered are lawn feature construction, general maintenance and debris removal.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2017</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
